@import "tailwindcss";
/* globals.css */

/* Reset básico y configuración global */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #E0FFFF; /* Fondo de la página */
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  * {
    box-sizing: border-box;
  }
  
  /* Estilos globales adicionales */
  a {
    text-decoration: none;
    color: inherit;
  }
  
  /* Puedes incluir aquí otros estilos globales o variables CSS */
  